<div id="page_wrapper">
  <div class='lower'>
  <h1>Editing Collaborator</h1>
  <%= render 'form', collaborator: @collaborator %>
  <%= link_to 'Show', @collaborator %> |
  <%= link_to 'Back', collaborators_path %>
  </div>
</div>
