<div class="pages col-md-9">
    <h1 id='header'>Collaborators</h1>
    <p id="notice"><%= notice %></p>

      <h4>A very special thanks to</h4>
      <h4>my academic advisor Elise Co!</h4>
      <p>Direct or Indirect work on Feminist AI Projects Revisited has been made possible by emotional, intellectual and/or content contributions from the following feminists and organizations:</p>

      <div class="col-md-6">
        <p>
        Alison Adam, Adrienne Adar, Sara Ahmed, Casey Anderson, Evelyn Arias, Erika Barbosa, Austin Beers, Adam Berros, Anne Burdick, Dara Blumenthal, Karen Ann Boren, Mary Jo Boren, Elizabeth Braithwaite, William Braithwaite, Don Brittain, Zachary Canter, Kelsey Carter, Rumman Chowdhury, Lee Cody, Stephanie Cedeno, Kora Colasuonno, Ivanna Coleman, Brittney Cottrell, Kate Crawford, Yvonne Cruz, Briana Dacoscos, Jen Diamond, Debra Do, Tim Durfee, Claire Evans, Rebecca Fiebrink, Laura Fisher, Shiveesh Fotedar, Damian Gill, Pamela Grieman, Noelle Griffis, Houston Guy, Marshall Hamachi, Donna Haraway, Katherine Hayles, Jean He, Shannon Herbert, Reichel Hertzler, Cathy Hillman, Leah Horgan, Yunqiao Huang, Reina Imagawa, Nicholas Jayanty, Amanda Jensen, Casey Kawahara, Olive Kimono, Sonia Kissin, Lena Klimas
        </p>
      </div>

      <div class="col-md-6">
        <p>Jake Klorman, Liz Krane, Jesse Kriss, Hsinyu Lin, Marnie Maton , Maja Mataric, TL Morris, Joanne McNeil, Jade Milan, Tara Milch, Laura Montoya, Christopher Miles, Saara Nafici, Fay Nafici, Sohrab Nafici, Amirah Noaman, Claire Le Nobel, Camilla Pizarro, Jenny Rodenhouse, Godiva Reisenbichler, Lillian Rust, Suzanne Rust, RJ Sakai, Jen Samson, Camila Sobral, Ginny Song, Amanda Stojanov, Lee Tusman, Nan Tsai, Astha Vagadia, Philip van Allen, Claudia Varon, Michaella Vu, Emily Walworth, Sayee Wang, Lauren Williams, Marion Wirsig, Jason Wong, Mike Wong, Lucas Wrench, Nicci Yin, Mimi Zeiger, Women Who Code, <a href="http://womenscenterforcreativework.com/">The Women’s Center for Creative Work</a>, <a href="http://www.crosscamp.us/site/locations/cross-campus-downtown-la.html?source=googleadwords&gclid=Cj0KEQjwzpfHBRC1iIaL78Ol-eIBEiQAdZPVKnZ5l_K8uWREx5EKNTBLdnxTcaq2iDbIUMAK8FoGiPUaAuUF8P8HAQ">Cross Campus DTLA</a>, <a href="http://www.altadenalibrary.org/">The Altadena Public Library</a>, <a href="http://machineproject.com/">Machine Project</a>
        </p>
      </div>
    <!--
      <h2>Individual Collaborators</h2>
      <p>These individuals have either inspired or directly contributed to Bits and Bytes collaboartive AI.</p>
      <table>
        <thead>
          <tr>
            <th>Type</th>
            <th>Name</th>
            <th>Website</th>
            <th>Image</th>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <%# @collaborators.each do |collaborator| %>
            <tr>
              <td><%#= collaborator.type %></td>
              <td><%#= collaborator.name %></td>
              <td><%#= collaborator.website %></td>
              <td><%#= collaborator.image %></td>
              <td><%#= link_to 'Show', collaborator %></td>
              <td><%#= link_to 'Edit', edit_collaborator_path(collaborator) %></td>
              <td><%#= link_to 'Destroy', collaborator, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% #end %>
        </tbody>
      </table>

      <h2>Organizations</h2>
      <p>These organizations have either inspired or directly contributed to Bits and Bytes collaboartive AI.</p>
      <br>
    -->
      <%#= link_to 'New Collaborator', new_collaborator_path %>

</div>

<%= image_tag 'icon1.png', class: 'randomly-placed-icon' %>
<%= image_tag 'icon2.png', class: 'randomly-placed-icon' %>
<%= image_tag 'icon3.png', class: 'randomly-placed-icon' %>

<script>
function rand0To100() {
  return Math.floor(Math.random() * 100);
}

$('.randomly-placed-icon').each(function() {
  $(this).css({top: rand0To100() + '%', left: rand0To100() + '%'});
});
</script>
