<footer class="footer navbar-fixed-bottom">
  <div class="container">
    <p id="foot">
      <%= link_to "Feminist Artificial Intelligence Projects", root_path, class: "footer_logo" %>
      <br/>
      christine.meinders@gmail.com | <%= link_to 'Collaborators', collaborators_path %> | 
      <%= link_to 'Resources', resources_path %> | <%= link_to 'Events', events_path %>
      <br/>
      © 2017 Copyright: Feminist Artificial Intelligence Collective
    </p>
    </div>
  </div>
</footer>
