<div id="page_wrapper">
  <div class='lower'>
    <h1 id='header'>Events</h1>
  <p id="notice"><%= notice %></p>

      <% @events.each do |event| %>
        <div class="events">
          <h3><b><%= event.event_name %></b></h3>
          <p><%= event.location %><br/>
             <%= event.date.strftime("%B %-d ,%Y") %></p>
        </div>
        <br/>
      <% end %>

  </div><!-- class lower -->
</div><!-- class page_wrapper -->
