<div id="page_wrapper">
  <div id="content">
    <h1>ABOUT</h1>
    <h2>BACKGROUND</h2>
      <p>AI systems are designed with data sets and algorithms created by computer scientists. What biases and assumptions are inherent in these systems when the overwhelming majority of these scientists are men? Join us, as we make a feminist AI project with unrepresented voices in AI creation. </p>
    <h2>SCHEDULE</h2>
      <p>AI systems are designed with data sets and algorithms created by computer scientists. What biases and assumptions are inherent in these systems when the overwhelming majority of these scientists are men? Join us, as we make a feminist AI project with unrepresented voices in AI creation. </p>
    <h2>CONTACT</h2>
      <p>AI systems are designed with data sets and algorithms created by computer scientists. What biases and assumptions are inherent in these systems when the overwhelming majority of these scientists are men? Join us, as we make a feminist AI project with unrepresented voices in AI creation. </p>
  </div>
</div>