<div id="page_wrapper">
  <div class='lower'>
    <div class='jumbotron jumbotron-approach center'>
      <h1 id='header'>AI Proposals</h1>
    </div>
  </div>
  <h2>Overall research findings</h2>
  <hr/>
  <h3>Researched based on conversations, design infestations and questionnaires:</h3>
  <ul>
    <li>Participants reported that it is more interesting to have the ability to disable or modify learning behaviors in AI systems.</li>
    <li>Participants reported wanting the ability to directly expose social bias through material AI projects.</li>
    <li>Participants were interested in designing with their own “little data” for curated intelligent experiences.</li>
    <li>Participants were less interested in pattern matching and prediction, and more interested in who decided what data goes into a system.</li>
  </ul>

  <h3>When possible, participants wanted the artificial intelligence to be to be housed in a physical form, which could serve as the interface.</h3>
  <ul>
    <li>Participants wanted to “feel connected with (or be a part of) their environment” or “react to their environment” with their bodies.</li>
    <li>Many of the proposed intents of the AI Projects were social (connected people, or involving co-creating).</li>
  </ul>

  <blockquote>A main finding from this research was an interest in the materiality of the AI. Specifically, over 1/3 of the participants suggested plants as the form of the AI. When questioned about this, they suggested that they felt the form should suggest the type of “plant” or “nature” intelligence.</blockquote>
    <hr/>

  <h2>Overall Design Implications</h2>
  <h3>When utilizing Emotion, Sentiment, and Mood analysis in AI systems, designers should be trained by the individual or group of users, over time and should be changeable.<h3>
  <ul>
    <li>Users should be able to disable or modify learning behaviors in AI systems.</li>
    <li>Users would like to use AI in for social critique and as a tool for collaboration with other humans.</li>
    <li>Users would like to design their own “little data” for curated intelligent experiences.</li>
    <li>Users should have control over the data that is put into the AI system.</li>
    <li>Users should be able to assign mix and match physical materials with learning algorithms.</li>
    <li>When applicable, should be able to use the form of the object as the interface.</li>
    <li>Designers should try to create AI systems that consider embodiment (not sure how to word this).</li>
    <li>Designers and developers should create AI systems that allow for physical or digital outcome (for things like political action).</li>
    <li>As designers we can use AI to identify, explore and expose both known and unknown bias, and can work with the community to create projects that reflect inequalities within groups and organizations.</li>
    <li>As designers we consider how to use to design for creative and embodied experiences.</li>
  </ul>
<div>
