<div id="page_wrapper">
  <div class='jumbotron jumbotron-approach center'>
    <h1 id='header'>Approach</h1>
  </div>
  <h2><a href="#methods">Methods</a> | <a href="#rules">Rules</a> | <a href="#embodiment">Designing for Embodiment</a></h2>
  <blockquote>There is a lack of gender, race and economic diversity embedded in current designs of artificial intelligence. Additionally, AI designs tend to bias in favor of human intelligence. Responding to hegemonic AI design, which is typically gendered male, the following work explores embodiment from an individual and collaborative approach in the following feminist AI projects: Collaborative AI (Bits and Bytes) and Post-Human Plugins. Each employs sounds, smiles, body movement, voices, and plants as tools. Feminist AI Projects pays homage to the writings and research produced by Alison Adam’s Feminist AI Projects, and to embodiment and emotion research from Dara Blumenthal, Katherine Hayles and Sara Ahmed.
  <br/><br/>
  <p>These Feminist AI Projects exist:</p>
  <br/>
<b>1. </b>As a response to the lack of nonbinary (genderqueer, bi-gender, genderfluid, pangender) androgynous, cisgender, transgender, gender nonconforming, intersex and LGBTQ folks in AI development, creation and design. While Bits & Bytes was conceived to include individuals not involved in hegemonic AI creation, we ended up using the term “women” to appeal to a broader audience.
  <br/>
 <b>2. </b>To continue the spirit of Alison Adam’s work.  Feminist AI Projects honors Adam’s research, and extends it into AI design AI using a feminist approach. Bits & Bytes draws on post-human, embodiment, quantum feminist and feminist speculative design approaches.
  <br/>
  <b>3. </b>To create a space for co-authoring and protest in internet, physical, virtual and augmented realities.
  </blockquote>

  <hr/>
  <p>To continue the spirit of Alison Adam’s work.  Feminist AI Projects honors Adam’s research, and extends it into AI design AI using a feminist approach. Bits & Bytes draws on post-human, embodiment, quantum feminist and feminist speculative design approaches.</p>

  <p>Early explorations of (symbolic) AI, as exemplified by its reliance on the Turing Test, focused on ways to create a disembodied mind. Current hegemonic approaches to AI utilize artificial neural networks, yet still fail to fully address embodiment in their creation. The following three feminist AI projects create a situated, re-embodiment of AI, by incorporating, yet moving beyond, artificial neural networks approaches. They conceptualize embodiment from a physical experiential multi-sensory perspective while also addressing the social, cultural, material and post-human elements of embodiment.</p>

  <p>Bits & Bytes actively designs for sound, voice, gesture, movement and touch-based experiences over visual interfaces. We prioritize the multi-sensory experiences in our approach to designing intelligent interfaces and agents. Members of Bits & Bytes engage in collaborative making in physical and digital spaces: (1) digitally through Facebook, Meet-ups, E-mail, Instagram and text messages; (2) physically through community partnerships such as Women Who Code, the Women’s Center for Creative Work, the Altadena Public Library, and Machine Projects; (3) and ephemerally though temporary physical protest experiences like the Women’s March on Washington and real-world protests in Los Angeles. Our goal is to to create alternatives to hegemonic AI creation.</p>

  <p>Our first Collaborative AI project (under the name of Group Bits and Bytes), was a Face Protest. This piece was a collaborative protest done at Machine Project. Participants created their own intelligent interface using Wekinator. This was then routed to a synthesizer which each face was programmed for a unique sound, creating a collaborative scream. This creation of this work employed critical design research to counter the disembodiment of the female often seen in hegemonic AI models and presents ways to design for embodied experiences. Some of the work presented in the lecture will be from the group;some will reference other feminist AI projects.</p>

  <p>To read research about the history of AI and Embodiment from a feminist perspective, click here for the first half of the working paper. (https://drive.google.com/open?id=0Bz8lvCqH2p96NXdfc0VnaVF3QVk)</p>

  <p>Bits & Bytes is a creative, collaborative space, made possible due to input from individuals and organizations across Los Angeles. Bits & Bytes members are: Cathy Hillman, Paula Burke, Amanda Stojanov, Jen Diamond, Erika Barbosa, Claire Evans, Kora Colasuonno, Reichel Hertzler, Olive Kimoto, Liz Krane, Camila Sobral, Jen Samson, Michaella Vu, Emily Walworth, Laura Fisher, Kelsey, Evelyn Arias,  Briana Dacoscos, Sayee Wang, Yunqiao Huang, Brittney Cottrell, Stephanie Cedeno,  Lena Klimas, (Women Who Code), the Women’s Center for Creative Work, Cross Campus  DTLA, The Altadena Public Library, and Machine Project.</p>

  <p>Direct or Indirect work on Bits & Bytes work has been made possible by emotional, intellectual and/or content contributions from the following feminists: Elise Co, Cathy Hillman, Jenny Rodenhouse, Casey Anderson, Paula Burke,  Shannon Herbert, Claire Evans, Mimi Zeiger, Casey Anderson, Lee Cody, Shiveesh Fotedar, Stephanie Cedeno, Lauren Williams, Nicci Yin, Claire Le Nobel, Casey Kawahara, Jesse Kriss, Adam Berros, Austin Beers, Tara Milch, Sonia Kissin, Rebecca Fiebrink, Maggie Famiglietti, Alison Adam, Donna Haraway, Dara Blumenthal, Katherine Hayles, Sara Ahmed, Kate Crawford, Christopher Miles, Hsinyu Lin, Amirah Noaman, Pamela Grieman, Zachary Canter, Nicholas Jayanty, Damian Gill, Maja Mataric, Ivanna Coleman, Hsinyu Lin and Debra Do, Noelle Griffis</p>

  <hr/>
  <div class='jumbotron jumbotron-approach_methods center'>
    <h1 id='header'>Methods</h1>
  </div>

<a name="methods"></a>
  <h2>METHODS</h2>
  <p>Bits & Bytes’ collaborative approach creates a space in which women can imagine alternatives to conventionally gendered thinking about artificial Intelligence. In addition to finding and disclosing the faults and biases in these systems, we envision alternative futures in the making of contemporary AI systems. In uncovering alternative methods of AI creation, we tap into the beauty of nuanced differences in human behavior. The possibilities are vast: designers may recreate behaviors in the animal and/or insect worlds (and post-human imaginaries),  respectfully attempting to "remake" the world to work with people, creatures and the environment (Tunstall).</p>

  <p>In creating an alternative AI system we drew from respectful design and feminist speculative future design to create our feminist materialist post-humanist intelligent interface. Bits & Bytes reflects the spirit of the open source movement, and a secondary goal of this project is to use open source methods to create new thinking around designing for artificial intelligence. Our making approach is not only collaborative in person, but also in idea generation. We are inspired not only by surrealist methods of picture variation known as  “exquisite corpse,” but also of extending beyond pictures to concepts, materials and protest techniques. The highlighted feminist projects explore the methods, approach, research and creations of embodied interconnected intelligences that emerge and materially transform as imagined and created in our collaborative making. </p>

  <p>In forming Bits & Bytes, we drew from the Women’s Center for Creative Work, VoidLab, and the 2017 gender issue of National Geographic to create the framework for our immediate and long-term goals. We concluded that our immediate approach would be to reach out to women, while reaching out to nonbinary (genderqueer, bi-gender, genderfluid, pangender) androgynous, cisgender, transgender, gender nonconforming, intersex and LGBTQ folks. </p>
  <hr/>

<a name="rules"></a>
  <div class='jumbotron jumbotron-approach_rules center'>
    <h1 id='header'>Rules</h1>
  </div>
  <h2>RULES</h2>
  <p>We will create thoughtful Art AI projects that can be housed anywhere. We must be invited into a location or space to work in that location. Our first four sessions were conducted in conjunction with the Women Who Code Algorithms Meetup, housed in Cross Campus DTLA. The second sessions were hosted by the Women’s Center for Creative Works, after being accepted into the spring programming for the Women’s Center for Creative Work, which took place over four sessions. For the next sessions we were invited to Machine Projects, and we collocated with a VoidLab member from UCLA.</p>

  <p>Another goal of Bits & Bytes is to support each other. Sometimes this involves going to a different location outside of the set time as well as  taking time to listen to group members not only about collaborative AI Art Creation, but about the needs of the group. </p>

  <p>Bits & Bytes has multiple types ,bridging tech and non-tech knowledge systems. Ideally, women without tech backgrounds are teamed up with women from tech backgrounds to facilitate learning. </p>

  <p>Our final goal is to critically engage in AI art creation while responding to the creation of and norms within hegemonic AI. Our first AI Project eschews hard physical interfaces by collaboratively creating inputs from our bodies and plants in the form of an intelligent interface. Our second AI project focuses on the disembodiment of the female body through voice in popular conversation user interfaces. Creating a design to call attention to the the already dated gender-only voice modules is a primary goal of our work.  </p>
  <hr/>

<a name="embodiment"></a>
  <div class='jumbotron jumbotron-embodiment center'>
    <h1 id='header'>Embodiment</h1>
  </div>
  <h2>Designing for Embodiment</h2>
  <p>The increasing popularity of artificial neural networks (connectionism) and the decreasing popularity of symbolic AI, has resulted in a re-prioritization of thinking about AI. One of the arguments against connectionism and symbolic AI is the limited approach to a sensory-individuated experience, rather than that of a living-sensory embodiment as an ongoing process (Blumenthal 47) and a multi-modal approach to sensation. This multi-sensorial approach is reliant on the materiality of the body, which can be a part of the environment, if we look at bodies beyond the enfleshed body. Includingnature and multi-model sensations that extend beyond the body to interconnect with the environment constitutes distributed cognition, which has been recognized as a key element in artificial life (Hayles, Borden). The form of the emotional and social body is then shaped by the cultural knowledge system of deriving from country, state, city and neighborhood of residence. </p>

  <p>What does this mean when the form of the body is shaped by culture? What would happen if we reimagined emotion analytics from the perspective of feminist theorist Sara Ahmed, who suggests that emotions are cultural, rather than physiological, states, and that "emotions work to shape the 'surfaces' of individual and collective bodies"? (1)</p>

  <p>In Artificial Knowing, Adam proposes that rationalist philosophy has "sidelined" the role of the body in knowledge production (137). As Hayles and Adam demonstrate, AI design must incorporate body knowledge outside of conventional gender constructions and document its interaction between other systems and ecologies.</p>

  <p>Dara Blumenthal makes a similar point when she writes about sensory individuation and prioritization as heteronormative understandings of sensory-embodiment. As a counterpoint to such norms, she proposes moving beyond the binary of closed /open in social embodiment, and towards an understanding that bodies are “entangled, dynamic, indefinite and beyond categorization,” a system she calls “corpus infinitum” (56).  She builds upon this idea from a materialist perspective and advocates taking "sensory-embodiment as the source of experience, knowledge, and understanding—not the rational mind” and suggests that “new socially experimental possibilities can be formed" (62). Thus, she prioritizes the lived, material experience as the primary focus of knowledge.</p>
  <hr/>
