<div id="page_wrapper">
  <div class='lower'>
    <div class='jumbotron jumbotron-research_overview'>
      <h1 id='header'>Current Ai Projects</h1>
    </div>

    <p>Rump meatball shoulder jowl pastrami ribeye cow flank kevin. Landjaeger chicken t-bone pork belly, meatloaf picanha venison pork loin ground round salami bacon. Ground round tri-tip salami, kevin hamburger shankle corned beef boudin brisket. Biltong ham hock sausage shankle fatback alcatra picanha, hamburger beef spare ribs rump.</p>
  </div><!-- class lower -->
</div><!-- class page_wrapper -->
