<div class="pages col-md-9">
  <h1>INSIGHTS & IMPLICATIONS</h1>

<!--   <%= image_tag 'feminist-artificial-intelligence_design-research_insights.jpg', alt:'', class:'images' %> -->

  <h2>Insights</h2>
  <p>Findings based on research with the community through conversations, design investigations and questionnaires</p>
  <ul>
    <li>Participants reported that it is more interesting to have the ability to disable or modify learning behaviors in AI systems.</li>
    <li>Participants reported wanting the ability to directly expose social bias through material AI projects.</li>
    <li>Participants were interested in different approaches to AI, and felt that a mixing of approaches)
      such as symbolic and connectionist) might yield new thoughts about how to design AI systems.</li>
    <li>Participants were interested in designing with their own “little data” for curated intelligent experiences.</li>
    <li>When possible, participants wanted artificial intelligence to be to be housed in a physical form, which could serve as the interface.</li>
    <li>Participants wanted to “feel connected with (or be a part of) their environment” or “react to their environment” with their bodies.</li>
    <li>Users would like access to basic information about the AI system (such as supervised or unsupervised learning) and what data is being used.</li>
    <li>Users would like to be aware of both positive and negative bias that exists in AI systems.</li>
  </ul>

<hr/>

<h2>Implications</h2>
  <p>When utilizing Emotion, Sentiment, and Mood analysis in AI systems, designers should be trained by the individual or group of users, over time and should be changeable.</p>
  <ul>
    <li>Users should be able to disable or modify learning behaviors in AI systems.</li>
    <li>Users would like to use AI in for social critique and as a tool for collaboration with other humans.</li>
    <li>Users would like to design their own “little data” for curated intelligent experiences.</li>
    <li>Users should have control over the data that is put into the AI system.</li>
    <li>Users should be able to assign mix and match physical materials with learning algorithms.</li>
    <li>When applicable, should be able to use the form of the object as the interface.</li>
    <li>Designers should try to create AI systems that consider embodiment (not sure how to word this).</li>
    <li>Designers and developers should create AI systems that allow for physical or digital outcome (for things like political action).</li>
    <li>As designers we can use AI to identify, explore and expose both known and unknown bias, and can work with the community to create projects that reflect inequalities within groups and organizations.</li>
    <li>As designers we consider how to use to design for creative and embodied experiences.</li>
  </ul>

<hr/>

  <h2>Future Directions</h2> (this will be on the page future directions)
 <!--  <%= image_tag 'feminist-artificial-intelligence_design-research_future.jpg', alt:'', class:'images' %> -->
  <ul>
    <li>When utilizing Emotion, Sentiment, and Mood analysis in AI systems, designers should be trained by the individual or group of users, over time and should be changeable.</li>
    <li>Users should be able to disable or modify learning behaviors in AI systems.</li>
    <li>Users would like to design their own “little data” for curated intelligent experiences.</li>
    <li>Users should be able to assign mix and match physical materials with learning algorithms.</li>
    <li>Designers should be able to combine and mix and match AI models (ie connectionist & symbolic) and curate algorithms to design for unique AI experiences.</li>
    <li>When applicable, designers should use the form of the object as the interface, to reflect the intent or function of the AI system.</li>
    <li>Designers should be designing for embodiment in AI.</li>
    <li>Designers and developers should include as much information as possible about the algorithms used in physical and digital products.</li>
  </ul>
