on class="gradient">

<div class= "map-circles-top">
  <div class="shape1 map-circles buzz"><h4>hello</h4></div>
  <div class="shape2 map-circles"><h4>hello</h4></div>
  <div class="shape3 map-circles turn"><h4>hello</h4></div>
  <div class="shape4 map-circles"><h4>hello</h4></div>
</div>
<div class= "map-circles-bottom">
  <div class="shape5 map-circles"><h4>hello</h4></div>
  <div class="shape6 map-circles"><h4>hello</h4></div>
  <div class="shape7 map-circles"><h4>hello</h4></div>
  <div class="shape8 map-circles"><h4>hello</h4></div>
</div>

</section>
