<section class="gradient">

<div class= "map-circles-top">
  <div class="shape1 map-circles"></div>
  <div class="shape2 map-circles"></div>
  <div class="shape3 map-circles"></div>
  <div class="shape4 map-circles"></div>
</div>
<div class= "map-circles-bottom">
  <div class="shape5 map-circles"></div>
  <div class="shape6 map-circles"></div>
  <div class="shape7 map-circles"></div>
  <div class="shape8 map-circles"></div>
</div>

</section>
