<div class="diagram-page center">
  <div class="outer-circle">
    <div class="inner-circle">
      <div class="boxes">
        <div class="top-box diagram-boxes"><h3>input</h2></div>
        <br>
        <div class= "middle-box">
          <div class="diagram-boxes"><h3>method</h3></div>
          <div class="diagram-boxes"><h3>method</h3></div>
          <div class="diagram-boxes"><h3>method</h3></div>
        </div>
        <br>
        <div class="bottom-box diagram-boxes"><h3>method</h3></div>
      </div>
    </div>
  </div>
</div>



<div>
</div>

