<div class="pages col-md-9">
  <h1>FUTURE DIRECTIONS</h1>

  <p>Cat ipsum dolor sit amet, sniff other cat's butt and hang jaw half open thereafter, and i am the best chase imaginary bugs and pounce on unsuspecting person. Brown cats with pink ears sleep nap kitty! kitty! jump off balcony, onto stranger's head scratch the box and eat grass, throw it back up. Licks your face destroy the blinds for pooping rainbow while flying in a toasted bread costume in space, so groom yourself 4 hours - checked, have your beauty sleep 18 hours - checked, be fabulous for the rest of the day - checked!, eat from dog's food for pounce on unsuspecting person but leave dead animals as gifts. Playing with balls of wool licks your face. Scratch the box.</p>
</div>

<!--     <%= image_tag 'feminist-artificial-intelligence-voice-design.jpg', alt:'', class:'images' %>
 -->  </div>
</div>

<%= image_tag 'icon1.png', class: 'randomly-placed-icon' %>
<%= image_tag 'icon2.png', class: 'randomly-placed-icon' %>
<%= image_tag 'icon3.png', class: 'randomly-placed-icon' %>

<script>
function rand0To100() {
  return Math.floor(Math.random() * 100);
}

$('.randomly-placed-icon').each(function() {
  $(this).css({top: rand0To100() + '%', left: rand0To100() + '%'});
});
</script>
