<div class="pages col-md-9">
  <h1>FUTURE DIRECTIONS</h1>

  <ul>
    <li>When utilizing Emotion, Sentiment, and Mood analysis in AI systems, designers should be trained by the individual or group of users, over time and should be changeable.</li>
    <li>Users should be able to disable or modify learning behaviors in AI systems.</li>
    <li>Users would like to design their own “little data” for curated intelligent experiences.</li>
    <li>Users should be able to assign mix and match physical materials with learning algorithms.</li>
    <li>Designers should be able to combine and mix and match AI models (ie connectionist &#38; symbolic) and curate algorithms to design for unique AI experiences.</li>
    <li>When applicable, designers should use the form of the object as the interface, to reflect the intent or function of the AI system.</li>
    <li>Designers should be designing for embodiment in AI.</li>
    <li>Designers and developers should include as much information as possible about the algorithms used in physical and digital products.</li>
  </ul>

<%= image_tag 'feminist-artificial-intelligence_culture-design-tool.jpg', alt:'Diagram with dropdown', class:'images' %>

</div>
