<div class="home">
  <h1>Feminist Artificial Intelligence Projects</h1>


  <p>"Whereas the body can disappear into information with scarcely a murmur of protest, embodiment cannot,
  for it is tied to the circumstances of the occasion and the person.”
  </p>

  <cite>N. Katherine Hayles</cite>
</div>
