<div id='page_wrapper'>
  <div id='content'>
    <div class='jumbotron center' style='background-image: asset-url('bitsnbytes_feminist_ai_projects_home.png')'>
      <h1 id='header'>Feminist Artificial Intelligence Projects</h1>
    </div>
    <p>Early explorations of Artificial Intelligence (symbolic), as evidenced in the reliance on the Turing Test, focused on ways to create a disembodied mind. The currently popular Artificial Neural Network computational model is based on the biological neural networks of the human brain. However, these models still privilege cognitive-sensory information and don’t speak to the lived, social and cultural experiences of embodiment. Not only is this disembodiment prevalent in primary male AI development environment, the conceptual and physical design of these AI systems often result in a highly sexualized female form, or disembodied form of an assistant or caretaker as evidenced in Manga, comics, popular film, AI doll creation, and home and phone hardware devices.</p>

    <p>Alternatively, feminist theorists Alison Adam and Katherine Hayles posit that Artificial Intelligence should focus on addressing embodiment in the design and development of AI systems. Dara Blumenthal and Sara Ahmed consider embodiment to extend beyond the boundaries of the body, through the body-self, which they consider to be living, and indefinite and a blur between bodily sensation, emotions and thoughts with the ability to shape the surfaces of individual and collective bodies.This approach expands the idea of embodiment - rather than being confined to a body, we can understand the collective experience of fluid bodies formed by cultural emotions, and this approach reflects this idea of embodiment beyond being enfleshed as suggested by Blumenthal.</p>

    <p>These feminist AI project’s explore the implications for design when making from a collaborative feminist post-human perspective. These two Feminist AI projects, the Post-human Plugin and Collaborative AI, explore a situated, re-embodiment of AI, from an experiential multi-sensory perspective while addressing social, cultural, material and post-human elements of embodiment. Collaborative AI, is a direct response to the lack of women in AI development and industry and brings multiple voices into AI creation through co-authoring. Post-human Plugin, is a making response to the disembodiment of the female form in a household AI system, Alexa.</p>
  </div>
</div>
