<div class="pages">
  <h1>What's wrong with AI?</h1>

  <p>With the rise of consumer facing systems, AI, has the potential to combat or spread new forms of discrimination, through fundamental choices in representation, design and development. How can we positively inform AI design by recognizing cultural and social assumptions and biases that lead to discrimination?</p>

  <div class="videos"><br>
    <iframe src="https://player.vimeo.com/video/196108916" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  </div>

<br>
  <p>This video research project is a critical exploration of the representation of women incommercial AI systems. Juxtaposed against the 90's anime classic Ghost in the Shell, we see that Hollywood's representations of women in fictional AI remains unchanged. With the emergence of consumer AI, we see a similar phenomenon of how AI devices are modeled. This representation of the human female is implemented through product design choices, in a disembodied form.</p>

  <p>Are these disembodied representations of the female form due to a lack of gender diversity in AI design and development teams? Do AI designs rely on the disembodiment of a human form and how can we reverse this by designing inclusively for embodiment? My research on the design implications of a “Feminist AI” addresses the following questions:</p>

  <ul>
    <li>Why design for embodiment in AI?</li>
    <li>How can we co-author designing for embodiment in AI?</li>
    <li>How can incorporate diversity in AI design?</li>
    <li>What new design approaches and tools can be developed to facilitate diversity in AI design?</li>
  </ul>
</div>
