<div id='page_wrapper'>
  <div id='content'>
    <div class='lower'>
      <div class='jumbotron center jumbotron-home'>
        <h1 id='header'>Feminist Artificial Intelligence Projects</h1>
      </div>
      <p id="front-page">"Whereas the body can disappear
        into information with scarcely a murmur of protest, embodiment cannot,
        for it is tied to the circumstances of the occasion and the person.”
      </p>
      <p><span class= "early">N. Katherine Hayles</span><br/>
      </p>
    </div>
  </div><!-- class lower -->
</div><!-- class page_wrapper -->
