<div id='page_wrapper'>
  <div id='content'>
    <div class='lower'>
      <div class='jumbotron center jumbotron-home'>
        <h1 id='header'>Feminist Artificial Intelligence Projects</h1>
      </div>
    <!--<div class= "background-fuzz"> -->
      <blockquote><span class= "early">Whereas the body can disappear</span><br/>
        into information with scarcely a murmur of protest, embodiment cannot,
        for it is tied to the circumstances of the occasion and the person.”
      </blockquote>
      <div class="container">
        <div class="row home-row">
        <div class="under-shape-one"></div>
          <p><span class= "early">Katherine Hayles</span><br/>
          </p>
        <div class="under-shape-two"></div>
        </div><!-- class row -->
      </div><!-- class container -->
   <!-- </div>  class background-fuzz-->
  </div><!-- class lower -->
</div><!-- class page_wrapper -->
