<div id="page_wrapper">
  <div id="content">
    <h1 id="header">Feminist Artificial Intelligence Projects</h1>
    <blockquote>AI systems are designed with data sets and algorithms created by computer scientists.
      <br/>What biases and assumptions are inherent in these systems when the overwhelming majority of these scientists are men?
      <br/>Join us, as we make a feminist AI project with unrepresented voices in AI creation.</blockquote>
<hr/>
<h3><%= link_to 'Posthumanism', 'https://en.wikipedia.org/wiki/Posthumanism' %></h3>
<p><b>Antihumanism:</b> any theory that is critical of traditional humanism and traditional ideas about humanity and the human condition.</p>

<p><b>Cultural posthumanism:</b> a branch of cultural theory critical of the foundational assumptions of humanism and its legacy that examines and questions the historical notions of "human" and "human nature", often challenging typical notions of human subjectivity and embodiment[4] and strives to move beyond archaic concepts of "human nature" to develop ones which constantly adapt to contemporary technoscientific knowledge.</p>

<p><b>Philosophical posthumanism:</b> a philosophical direction which draws on cultural posthumanism, the philosophical strand examines the ethical implications of expanding the circle of moral concern and extending subjectivities beyond the human species</p>

<p><b>Posthuman condition:</b> the deconstruction of the human condition by critical theorists.</p>

<p><b>Transhumanism:</b> an ideology and movement which seeks to develop and make available technologies that eliminate aging and greatly enhance human intellectual, physical, and psychological capacities, in order to achieve a "posthuman future".</p>

<p><b>AI takeover:</b> A more pessimistic alternative to transhumanism in which humans will not be enhanced, but rather eventually replaced by artificial intelligences. Some philosophers, including Nick Land, promote the view that humans should embrace and accept their eventual demise.[8] This is related to the view of "cosmism" which supports the building of strong artificial intelligence even if it may entail the end of humanity as in their view it "would be a cosmic tragedy if humanity freezes evolution at the puny human level".</p>

<p><b>Voluntary Human Extinction</b>, which seeks a "posthuman future" that in this case is a future without humans.</p>
  </div>
</div>
