<div class="pages col-md-9">
  <h1>RESEARCH INSPIRATION</h1>

  <p>Bacon ipsum dolor amet swine drumstick beef ribs, brisket chicken corned beef t-bone meatball prosciutto leberkas porchetta shank fatback filet mignon venison. Shank cupim ham, burgdoggen pig alcatra bacon. Cupim tongue salami flank picanha shank short ribs chuck kevin turducken frankfurter strip steak biltong pancetta. Landjaeger tongue salami frankfurter jerky, t-bone ham alcatra. Spare ribs tail tongue cow drumstick capicola rump tri-tip strip steak sirloin ball tip short ribs. Doner cupim ribeye tri-tip ham tongue filet mignon beef. Ribeye bacon kevin pork belly, kielbasa pork loin swine turkey jowl tri-tip landjaeger fatback ball tip short ribs pork.</p>
</div>

<!--     <%= image_tag 'feminist-artificial-intelligence-voice-design.jpg', alt:'', class:'images' %>
 -->  </div>
</div>

<%= image_tag 'icon1.png', class: 'randomly-placed-icon' %>
<%= image_tag 'icon2.png', class: 'randomly-placed-icon' %>
<%= image_tag 'icon3.png', class: 'randomly-placed-icon' %>

<script>
function rand0To100() {
  return Math.floor(Math.random() * 100);
}

$('.randomly-placed-icon').each(function() {
  $(this).css({top: rand0To100() + '%', left: rand0To100() + '%'});
});
</script>
