<div id="page_wrapper">
  <div class='lower'>
    <div class='jumbotron jumbotron-approach center'>
      <h1 id='header'>Resources</h1>
    </div>
</div>

<h1 id='header'>Resources</h1>
  <ul>
    <li><a href="http://railsgirls.com/la">Rails Girls LA</a></li>
    <li>Other</li>
    <li>Other</li>
    <li>Other</li>
  </ul>
</div>
