$navbar-default-bg: #3366ff;

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";


@font-face {
    font-family: 'gt_america';
    src: url(font-path('GT_America.eot') + "?#iefix") format('embedded-opentype'),
         url(font-path('GT_America.woff')) format('woff'),
         url(font-path('GT_America.ttf'))  format('truetype'),
         url(font-path('GT_America.svg') + "#GT_America") format('svg');
}

body {
  overflow-x: hidden;
  overflow-y: scroll;
}

.jumbotron {
  background-size: cover;
  height: 300px;

}

.jumbotron-home {
    background-color: transparent;
    h1 {
      color: #fff;
      font-size: 2.6em;
      text-transform: uppercase;
      font-style: italic;
      text-align: left;
      font-weight: bold;
      -webkit-text-stroke: 1px #3366ff;
   }

}


h1 {
  font-family: "Helvetica Neue";
  font-size:48px;

}


#logo {
  float: left;
  font-size: 1.2em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -0.2px;

}

p,td,li {
  font-family: "Helvetica Neue";
  font-size: 16px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 20px;
}

#logo:hover {
  color: #99ff99;
  text-decoration: none;
  border: 2px solid #99ff99;
  border-radius: 4px;
}
.center {
  text-align: center;
}

td,th {
  width: 150px;
}

.ai-projects {
  font-family: GTAmerica;
  font-size: 18px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 18px;
  line-height: 30px;
}

a {
  color: #fff;
  text-decoration: none;
  position: relative;
}

a:hover {
  background-color: transparent;


}

a:nav {
  color: #fff;
  text-decoration: none;
}


.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #99ff99;
  border: 2px solid #99ff99;
  border-radius: 4px;
  margin: -3px;
}

.navbar-default .navbar-nav > li > a {
  color: white;
  a:hover {
      color: #99ff99;

  }
}

footer {
  bottom: 0;
  width: 100%;
  background-color: #ccccff;
  text-align: center;
  padding-top: 10px;
  a:hover {
    text-decoration: none;
    padding:-1px;
    border-radius:  4px;
    border: 2px solid #3366ff;
    color: #3366ff;
  }
}

#foot {
  font-size: 1em;
  a {
    padding: 0 7px;
  }
}

.footer_logo {
  text-align: center;
  font-size: 1.2em;
  color: white;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-weight: normal;
}

.lower {
  padding-top: 65px;
  padding-bottom: 65px;
  text-align:justify;
  width: 600px;
  margin: 0 25%;
  p#front-page {
    margin-top: -160px;
    margin-left: 50px;
    font-size: 1.7em;
    color: #3366ff;
    font-weight: bold;
    font-style: italic;
    font-family: "Helvetica Neue";
    width: 480px;
    line-height: 1.1em;
  }
  .early {
    color: #3366ff;
    font-weight: bold;
    font-size: 1.2em;
    float: right;
    margin-right: 70px;
  }
}

//AI design research page

.center {

}

.dr-container {
  padding-top: 65px;
  padding-bottom: 65px;
  text-align:justify;
  text-align:justify;
  width: 600px;
  // margin: 0 25%;
  margin: 0 auto;

  h1{

  }
  .subnav {


  }



}



//Home Page styling
  div.container{


      }



//

.design-philosphy {
  padding: 5px;
  font-family: 'gt_americaregular'
}
.design-philosphy:p {
  font-family: 'gt_americaregular';
}

.subnav {
  background: rgba(255,182,193, 0.4);
  padding: 5px;
  width: 350px;
}

.events {
  width:300px;
  padding: 8px 20px 20px 20px;
  background-color: pink;
  font-family: 'gt_americaregular'
}
.events:p {
  font-family: 'gt_americaregular';
}

.diagram-page {
  position: relative;
  margin-left: 0;
  .outer-circle {
    position: absolute;
    top: 55px;
    height: 600px;
    width: 800px;
    background-color: rgba(248,187,214, 0.9);
    border-radius: 100%;
  }
}



// @media all and (max-width: 600px) and (min-width: 520px), (min-width: 1151px) {
//   // body {
//   //   background: #ccc;
//   // }
// }


// @media only screen
// and (min-device-width : 768px)
// and (max-device-width : 1024px) {
//   .lower {
//     margin: 0 auto;
//     .jumbotron-home {
//       height: 40%;
//       width: cover;
//       text-align: center;
//       // h1 {
//       //   font-size:
//       // }

//     }

//     p{
//       font-size: 1.2em;
//       line-height: 1.2;
//     }
//     .two {
//       top:270px;

//     }
//   }

// }

//IPAD//
/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
/* Styles */
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
/* Styles */
}

//IPAD MINI//
/* Portrait and Landscape */
// @media only screen
//   and (min-device-width: 768px)
//   and (max-device-width: 1024px)
//   and (-webkit-min-device-pixel-ratio: 1) {

// }

/* Portrait */
// @media only screen
//   and (min-device-width: 768px)
//   and (max-device-width: 1024px)
//   and (orientation: portrait)
//   and (-webkit-min-device-pixel-ratio: 1) {

// }

/* Landscape */
// @media only screen
//   and (min-device-width: 768px)
//   and (max-device-width: 1024px)
//   and (orientation: landscape)
//   and (-webkit-min-device-pixel-ratio: 1) {

// }


//IPHONE//
/* iPhone 5 ----------- */
@media only screen and (min-device-width: 400px) and (max-device-height: 568px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
/* Styles */

header {
    height: 100px;

  }
}


