$navbar-default-bg: #3366ff;

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";


@font-face {
    font-family: 'gt_america';
    src: url(font-path('GT_America.eot') + "?#iefix") format('embedded-opentype'),
         url(font-path('GT_America.woff')) format('woff'),
         url(font-path('GT_America.ttf'))  format('truetype'),
         url(font-path('GT_America.svg') + "#GT_America") format('svg');
}

body {
  overflow-x: hidden;
  overflow-y: scroll;
}

.jumbotron {
  background-size: cover;
  height: 300px;
  color: white;
}

.jumbotron-home {
  /*background-image: asset-url('bitsnbytes_feminist_ai_projects_home.png'); */
  position: relative;
  clear: both;
  z-index: -1;
  background-color: rgba(255,102,214,0.5);
  -ms-transform: rotate(10deg); /* IE 9 */
    -webkit-transform: rotate(10deg); /* Chrome, Safari, Opera */
    transform: rotate( 10deg);
  h1 {
    color: #fff;
    margin-top: -20px;
    font-size:  3.5em;
    font-family:"Helvetica Neue";
    text-shadow: 2px 3px #202020;//rgba(232,232,235,0.9);
    letter-spacing: 1px;
    line-height: 1.2;
    color: #fff;
    text-transform: uppercase;
    font-style: italic;
    text-weight: lighter;
    -ms-transform: rotate(-10deg); /* IE 9 */
    -webkit-transform: rotate(-10deg); /* Chrome, Safari, Opera */
    transform: rotate( -10deg);
  }
}
h1 {
  font-family: 'gt_americabold';
  font-size:48px;
}

hr {
  background-color: #fff;
  border-top: 2px dotted #529FCD;
}

#logo {
  float: left;
  font-size: 1.2em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -0.2px;

}

p,td,li {
  font-family: "Helvetica Neue";
  font-size: 16px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 20px;
}

#logo:hover {
  color: #99ff99;
  text-decoration: none;
  border: 2px solid #99ff99;
  border-radius: 4px;
}
.center {
  text-align: center;
}

td,th {
  width: 150px;
}

.ai-projects {
  font-family: GTAmerica;
  font-size: 18px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 18px;
  line-height: 30px;
}

a {
  color: #fff;
  text-decoration: none;
  position: relative;
}

a:hover {
  background-color: transparent;


}

a:nav {
  color: #fff;
  text-decoration: none;
}


.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #99ff99;
  border: 2px solid #99ff99;
  border-radius: 4px;
  margin: -3px;
}

.navbar-default .navbar-nav > li > a {
  color: white;
  a:hover {
      color: #99ff99;

  }
}

footer {
  bottom: 0;
  width: 100%;
  background-color: #ccccff;
  text-align: center;
  padding-top: 10px;
  a:hover {
    text-decoration: none;
    padding:0px;
    border-radius:  4px;
    border: 2px solid #3366ff;
    color: #3366ff;
  }
}

#foot {
  font-size: 1em;
  a {
    padding: 0 7px;
  }
}

.footer_logo {
  text-align: center;
  font-size: 1.2em;
  color: white;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-weight: normal;
}

.lower {
  padding-top: 65px;
  padding-bottom: 65px;
  text-align:justify;
  width: 600px;
  margin: 0 25%;
  .early {
    font-style: italic;
    font-size: 2em;
    font-family: 'gt_america';
  }
}

//AI design research page
.dr-container {
  padding-top: 65px;
  padding-bottom: 65px;
  text-align:justify;
  text-align:justify;
  width: 600px;
  margin: 0 25%;
  h1{

  }
  .subnav {

  }



}



//Home Page styling
  div.container{
      .home-row {
         width: 600px;
         position: relative;
         .one {
        position: absolute; left: 0;
        z-index: 2;
        }

        .two {
          position: absolute; right: 0;
          z-index: 2;
        }
        .under-shape-one {
        position: absolute;
        z-index: -2;
        height: 400px;
        width:150px;
        background-color:  rgba(255,202,255,0.7);
          -ms-transform: rotate(-20deg); /* IE 9 */
          -webkit-transform: rotate(-20deg); /* Chrome, Safari, Opera */
          transform: rotate(-20deg) scale(2.2);
            }
        .under-shape-two {
          position: absolute; right: 2;
          z-index: -3;
          width: 0;
          height: 0;
          border-left: 400px solid transparent;
          border-right: 50px solid transparent;
          border-bottom: 200px solid pink;
          -ms-transform: rotate(50deg); /* IE 9 */
          -webkit-transform: rotate(50deg); /* Chrome, Safari, Opera */
          transform: rotate(-40deg) scale(2.6);
                }
          }
      }



//

.design-philosphy {
  padding: 5px;
  font-family: 'gt_americaregular'
}
.design-philosphy:p {
  font-family: 'gt_americaregular';
}

.subnav {
  background: rgba(255,182,193, 0.4);
  padding: 5px;
  width: 350px;
}

.events {
  width:300px;
  padding: 8px 20px 20px 20px;
  background-color: pink;
  font-family: 'gt_americaregular'
}
.events:p {
  font-family: 'gt_americaregular';
}


// @media all and (max-width: 600px) and (min-width: 520px), (min-width: 1151px) {
//   // body {
//   //   background: #ccc;
//   // }
// }


// @media only screen
// and (min-device-width : 768px)
// and (max-device-width : 1024px) {
//   .lower {
//     margin: 0 auto;
//     .jumbotron-home {
//       height: 40%;
//       width: cover;
//       text-align: center;
//       // h1 {
//       //   font-size:
//       // }

//     }

//     p{
//       font-size: 1.2em;
//       line-height: 1.2;
//     }
//     .two {
//       top:270px;

//     }
//   }

// }

//IPAD//
/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
/* Styles */
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
/* Styles */
}

//IPAD MINI//
/* Portrait and Landscape */
@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (-webkit-min-device-pixel-ratio: 1) {

}

/* Portrait */
@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (orientation: portrait)
  and (-webkit-min-device-pixel-ratio: 1) {

}

/* Landscape */
@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (orientation: landscape)
  and (-webkit-min-device-pixel-ratio: 1) {

}


//IPHONE//
/* iPhone 5 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}
